@model CourseMessengerWeb.Models.Department

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Department Information</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

    </dl>
</div>
<p>
    <a role="button" href="@Url.Action("edit")"  class="btn btn-info"> <span class="glyphicon glyphicon-pencil"></span> Edit</a> or
    <a role="button" href="@Url.Action("Index")" class="btn btn-default"><span class="glyphicon glyphicon-backward"></span>  Back </a>
</p>
